@use "../../styles/variables.scss" as var;
@use '../initial/mixins.scss' as localMixins; 
@use "../../styles/mixins.scss" as mixins;

.notero{ 
    $double-gap: calc(var(--gap) * 2);

    display: flex;
    width: 100%;
    position: relative;
   z-index: 0;
    justify-content: center;
    padding-top: 50px;

    @media (min-width: var.$desktop) {
        padding-top: 100px;
      }

    &__container{
        display: flex;
        flex-direction: column-reverse;
        gap: var(--gap);
        width: 100%;
        
        @media (min-width:var.$desktop) {
            flex-direction: row;
        }
    }
    &__left,
    &__right{
        @media (min-width:var.$desktop) {
           flex: 1; 
        }
        
        
    }

    &__right{
        display: flex;
        flex-direction: column;
        gap: $double-gap;

        p,
        a{
            align-self: flex-start;
        }
    }

    .text_notero{
       
            line-height: 30px;
         
    }
    &::before{
        content:"";
        position: absolute;
        top: 0;
        right: 50%;
        left: 0;
        bottom: 0;
        @include mixins.background-image(
            $image: "../../assets/images/initial/notero-web.png"
          );
    }

    &__left{
        
        @include localMixins.half-container-image-two('../../assets/images/initial/notero-ipad.png');
        
    }


    &__animation{
        @include localMixins.rotate-center(15%,$image:"../../assets/images/initial/notero-bubbles.png");
        
       
    }

    .text_notero{
        line-height: 30px;
        br{
            display: none;

            @media (min-width:var.$bigger-tablet) {
                display: block;
            }
        }
    }
    // &__benefits{
    //     display: flex;
    //     align-items: center;
    //     gap: 25px;
    // }
    
    svg{
        fill: var(--violett-color);
    }
    // p{
        //     align-self: center;
        // }
    }
    .notero__benefit{
        display: flex;
        align-items: center;
        padding: 10px 0 ;
        gap: 10px;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            background-color: var(--creame-color);
            border-radius: 50%;
          }
    }