@use "../../styles/variables.scss" as var;
@use '../initial/mixins.scss' as localMixins;


.one-app{
  margin-top: var(--double-gap);
 position: relative;
 padding-bottom: 100px;


  &__animation{
    @include localMixins.rotate-center($image:"../../assets/images/initial/one-app-bubble.png");
  }

    &__container{
     display: flex;
     flex-direction: column;
     @media (min-width:var.$bigger-tablet) {
      flex-direction: row;
     }
    }

    &__right,
    &__left{
     
      @media (min-width:var.$bigger-tablet) {
       flex:1;
       }
    }
    
    &__left{
      display: flex;
      flex-direction: column;
      gap: var(--double-gap);
      margin-bottom:var(--double-gap);;
      p{
        align-self: flex-start;
      }
      @media (min-width:var.$bigger-tablet) {
        margin-bottom: 0;
        }
    }

    &__right{
     @include localMixins.half-container-image('../../assets/images/initial/one-app-background.png')
    }
    
    &__buttons{
      display: flex;
      align-items: center;
      gap: var(--double-gap);
    }
 
    br{
      display: none;
    
    @media (min-width:var.$bigger-tablet) {
        display: block;
   }
  }


    &__infos{
      display: flex;
      gap: var(--double-gap);
      margin-top: var(--double-gap);
      text-transform: uppercase;
    }

    &__info{
      display: flex;
      align-items: center;
      gap: 5px;

      div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: var(--creame-color);
        border-radius: 50%;
      }
svg{
  fill: var(--violett-color);
}

    }
   }

   .one-app__play{
    position: relative;
    span{
      left: 20px;
      padding: 0 20px;
      position: absolute;
      @media (min-width:var.$bigger-tablet) {
       left: 30px;
         }
    }
   }