@use "styles/variables" as var;


.card{

    display: flex;
    gap: var(--double-gap);
    padding: var(--gap);
    width: 260px;
    height: 100px;
    border-radius: 15px;
    background-color: var(--white-color);
    box-shadow: -4.104px 11.276px 38px 0 rgb(45 42 61 /10%);

    @media (min-width: var.$bigger-mobile) {
        width: 460px;
      }
    
      @media (min-width: var.$bigger-tablet) {
        height: 134px;
      }

      &__left {
        display: none;
    
        @media (min-width: var.$bigger-mobile) {
          display: block;
        }
      }
     

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;

        
      }

      &__stars{
        svg {
          fill: var(--yellow-color);
        }
      }
}