@use "variables" as var;

footer{
    --wave-size:269px;
    width: 100%;
.footer__wave{
    position: absolute;
    top:580px;
    left: 0;
    right: 0;
    background-image: url("/..//assets/images/footer_wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: var(--wave-size);
    animation: wave 2s ease-in-out infinite alternate both;
 
    @media (max-width:var.$tablet) {
        top: 250px;
    }

    @media (max-width:var.$bigger-mobile) {
        top: 313px;
    }
    @media (max-width:var.$mini-mobile){
    top: 438px;
}

    @keyframes wave{
        0% { 
            transform: rotate(1deg) scaleX(-1);
        }
        100% { 
            transform: rotate(-1deg) scaleX(-1);
        }
    }
}
    .footer__container,
    .footer__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap);
        text-align: center;
        flex-direction: column;
      
       
} 
.footer__buttons{
    display: flex;  
    flex-direction: column;
    gap: var(--gap);
    margin: calc(var(--gap)*2) 0;

    @media (min-width:var.$bigger-mobile) {
        flex-direction: row;
    }
    
}

.footer__button{
    white-space: nowrap;
}

}
.footer__center{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap) 0;
    border-bottom: 2px solid var(--grey-color);

    @media (min-width:var.$tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__navigation ul {
    flex-wrap: wrap;
    margin-left: 15px;

    li {
      display: flex;
      width: 80px;
      align-self: start;
    }

    @media (min-width: var.$tablet) {
      justify-content: space-around;
    }

    @media (min-width: var.$desktop) {
      li {
        width: auto;
      }
    }
  }


// .footer_lang{
//    width: 208px; 
// }
.footer__bottom{
    a{
        text-decoration: underline;
    }
}
.footer__bottom-text{
    margin-bottom: 20px;
}

.footer__top{
    padding-top: 50px;
    @media (max-width:var.$tablet) {
        margin-bottom: 42px;
    }
    @media (max-width:var.$bigger-mobile) {
        margin-bottom: 0;
    }
}
.footer__container{
    margin-bottom: 20px;
}