.top-banner{
    width: 100%;
    height: 75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -30px;
    background-image: url(/assets/images/top_nav_background.png);
}

header{

    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap);
    

    }
    .header__buttons{
        width: 215px;
        display: flex;  
            gap: var(--gap);

    }
}
.navigation ul{
    display: flex;
    gap: calc(var(--gap)*2);
    text-transform: uppercase;
    font: var(--smaller-font);
}
.logo{
    width: 150px;
    height: 30px;
}


