@use './variables.scss';
.link { 
    color : var(--black-color);
    transition: var(--transition);
    font-weight: 700;


&:hover, &:active, &:focus{
    color : var(--violett-color);
} 
&_small{ 
    font: var(--samllest-font);
    text-decoration: underline;
    color:var(--white-color);
    white-space: nowrap;

&:hover,
&:focus,
&_active{
    color: var(--blue-color);
}
}
}

.link_active{
    color: var(--violett-color);
}