
    //breakpoints
    // $bigger-mobile:540px;
    // $tablet:768px;
    // $destop:1200px;
    // $bigger-desktop:1400px;
    
:root{
    //font
  --smaller-font: 700 12px 'Inter' , sans-serif;
--font:400 14px 'Inter', sans-serif; 
--biggest-font:700 40px 'Inter', sans-serif; 
//spacers
--gap:20px;

    --transition:0.3s;
}

.text{
    &_biggest{
        font: var(--biggest-font);
    }
    &_gradient{
        background-color: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        background-image: linear-gradient(
            to right,
            #501E9C 0%,
            #8169f1 30%,
            #8169f1 30%,
            #a44cee 73%,
            #ff847f 100%
        );
    }
}